* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 45%;
  border: 1px solid #000;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#top-left {
  background-color: green;
}

#top-right {
  background-color: red;
}

#bottom-left {
  background-color: blue;
}

#bottom-right {
  background-color: yellow;
}
